#test.py
#*.txt
*~*
#*.pdf
custom_image.png
test.png
.vscode/
#discard.py
color_bars.png
color_blocks.png
#*optimised*
scheduler.py

payload.png
data/
check.py
#video_encoder.py
#video_decoder.py
*.mp4
*.avi
out/
ffmpeg_build/
.env
test/
oops_test.py
frames/
__pycache__/
.venv
venv/
downloadtest.py
idek/
output/